:root{
    --nav-bg:darkorange;
    --body-bg:rgba(220, 245, 234, 0.8);
    --txtbg:rgb(6, 250, 169);
  
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-family: system-ui;
  }
  body{
    background-color: var(--body-bg);
  
  
  }
  
  
    nav{
      background-color: var(--nav-bg);
      
    }
    nav #care{
      color: var(--txtbg);
      font-size: xx-large;
    }
    nav h1{
      color: white;
    }
    nav #log-out a{
      color: var(--txtbg);
      font-size: large;
      font-weight: 600;
      text-decoration: none;
    }
    .sidebar {
      background-color: var(--nav-bg);
     height: 100svh;
     width: 20svw;
     position: relative;
     top: 0;
     
    
      
    }
    .sidebar ul{
      position: absolute;
      top: 0;
    }
    .sidebar {
      position: sticky;
      top: 0;
    }
    .sidebar ul{
      list-style: none;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      font-size: x-large;
      font-weight: 600;
     
     
  
    }
    .sidebar ul li{
      list-style: none;
      text-transform: capitalize;
     
      margin: 1.5rem 1rem  1rem  1.8rem;
     
      padding: 10px;
      width:15.3vw;
      border-radius: 50vw 0  0 50vw;
  
      
    }
    .sidebar ul .active{
      background-color: var(--body-bg);
      position: relative;
    }
    .sidebar ul li a{
      text-decoration: none;
      color: white;
    }
    .sidebar ul li.active::before,
    .sidebar ul li.active::after{
      --border-radius:1rem;
      content: "";
      position: absolute;
      width: var(--border-radius);
      height: var(--border-radius);
      background-color:var(--nav-bg);
      right: 0;
      border-radius: 100vw ;
  
    }
    .sidebar ul li.active::before{
      top: calc(var(--border-radius)*-1);
      box-shadow: 10px 10px 0 10px var(--body-bg);
      border-radius: 0 0 100vw 0;
    }
    .sidebar ul li.active::after{
      bottom: calc(var(--border-radius)*-1);
      box-shadow: 10px -10px 0 10px var(--body-bg);
      border-radius:  0 100vw  0 0;
  
    }
  .row .wrap-table{
    width: 60vw;
    margin-left: 22rem;
    margin-top: 5rem;
  }
  .row .wrap-table3{

    margin-left: 22rem;
    margin-top: 20rem;
  }

  .row .wrap-table table th{
    background-color: var(--nav-bg);
    color: white;
    padding: 2px;
    border: 1px solid;
  }
  .row .wrap-table table td{
    
  }
  .row .wlc-txt{
    margin-top: -40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
  }
  .row  nav{
    background-color:var(--body-bg);
  }  