:root{
    --nav-bg:darkorange;
    --body-bg:rgba(220, 245, 234, 0.8);
    --txtbg:rgb(6, 250, 169);
  
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-family: system-ui;
  }
  body{
    background-color: var(--body-bg);
  
  
  }
  
  
    nav{
      background-color: var(--nav-bg);
      
    }
    nav #care{
      color: var(--txtbg);
      font-size: xx-large;
    }
    nav h1{
      color: white;
    }
    nav #log-out a{
      color: var(--txtbg);
      font-size: large;
      font-weight: 600;
      text-decoration: none;
    }
    .sidebar {
      background-color: var(--nav-bg);
     height: 100svh;
     width: 20svw;
     position: relative;
     top: 0;
     
    
      
    }
    .sidebar ul{
      position: absolute;
      top: 0;
    }
    .sidebar {
      position: sticky;
      top: 0;
    }
    .sidebar ul{
      list-style: none;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      font-size: x-large;
      font-weight: 600;
     
     
  
    }
    .sidebar ul li{
      list-style: none;
      text-transform: capitalize;
     
      margin: 1.5rem 1rem  1rem  1.8rem;
     
      padding: 10px;
      width:15.3vw;
      border-radius: 50vw 0  0 50vw;
  
      
    }
    .sidebar ul .active{
      background-color: var(--body-bg);
      position: relative;
    }
    .sidebar ul li a{
      text-decoration: none;
      color: white;
    }
    .sidebar ul li.active::before,
    .sidebar ul li.active::after{
      --border-radius:1rem;
      content: "";
      position: absolute;
      width: var(--border-radius);
      height: var(--border-radius);
      background-color:var(--nav-bg);
      right: 0;
      border-radius: 100vw ;
  
    }
    .sidebar ul li.active::before{
      top: calc(var(--border-radius)*-1);
      box-shadow: 10px 10px 0 10px var(--body-bg);
      border-radius: 0 0 100vw 0;
    }
    .sidebar ul li.active::after{
      bottom: calc(var(--border-radius)*-1);
      box-shadow: 10px -10px 0 10px var(--body-bg);
      border-radius:  0 100vw  0 0;
  
    }
  .row .wrap-table{
    width: 60vw;
    margin-left: 30rem;
    margin-top: -30rem;
  }
  .row .wrap-table1{
    display: block;
  }
  .row .wrap-table1 table th{
    background-color: var(--nav-bg); 
    color: white;
  }
  .row .wlc-txt{
    margin-top: -40rem;
  }
  .row .wrap-table2 .testResult-table{
    background-color: var(--nav-bg);;
    position: relative;
    top: 0.5rem;
    padding: 1px;


  }
  .row .wrap-table2 .testResult-table h4{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;

  }
  .row .wrap-table2{
    display: none;
  }
  .row .wrap-table3 .testResult-table{
    background-color: var(--nav-bg);
    padding: 0.5px;
   
  }
  .row .wrap-table3 .testResult-table h4{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .row .wrap-table3{
    display: none;
  }
  .row .wrap-form  .cont {
   
  display: flex;
   
    margin-top: -38rem;
    margin-left: 35rem;
    

  }
  .row .wrap-form form{
    padding: 10px;
    font-size: 30px;
    
}
.row .wrap-form form input{
    margin: 2px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(127, 255, 212, 0.1); /* Semi-transparent background */
    color: black; /* Text color */
    color: var(--bodybg);
}
  .row  .card-header{
    background-color: white !important;
    color:rgb(10, 252, 171);
    font-size: large;
    font-weight: 1000;
   
}
.row .wrap-form form input::placeholder {
    font-size: large;
    font-weight: 400;
    color:rgb(6, 255, 172); /* Visible placeholder text color */
    opacity: 1; /* Ensure full opacity for placeholder text */
}

.row .wrap-form form .btn{
    width: 26vw;
    background-color: rgb(10, 248, 169);
    color: white;
    margin-left: 0.9rem;
}
.row .wrap-form form label{
  font-size: medium;

}
.row .wrap-form {
    display: none;

}
@media (max-width:1370px) {
  
  .row .wrap-table .table{
    margin-left: -4rem;
  }
  .sidebar ul li{
    
   
    margin: 1.5rem 1rem  1rem  1.4rem;
   
    

    
  }

  
}
@media (max-width:1150px) {
  
  .row .wrap-table .table{
    margin-left: -8rem;
    font-size: medium;
    background-color: red !important;
  }
  .sidebar ul li{
    font-size: medium;
   
    margin: 1.5rem 1rem  1rem  0.5rem;
   
    

    
  }

  .row .wlc-txt h1{
    font-size: medium;
   
  }

  
}
@media (max-width:1150px) {
  
  .row .wrap-table .table{
    margin-left: -8rem;
    font-size: medium;
  
  }
  .sidebar ul li{
    font-size: medium;
   
    margin: 1.5rem 1rem  1rem  0.5rem;
   
    

    
  }
  .row .wlc-txt h1{
    font-size: medium;
    
  }

  
}
@media (max-width:1020px) {
  
  .row .wrap-table .table{
    margin-left: 1rem;
   
  
  }
  .sidebar ul li{
    font-size: medium;
   
    margin: 1.5rem 1rem  1rem  0.2rem;
   
    

    
  }
  .row .wlc-txt h1{
    font-size: medium;
    
  }

  
}
@media (max-width:1010px) {
  
  .row .wrap-table .table{
    margin-left: -15rem;
   
  
  }
  .sidebar ul li{
    font-size: medium;
   
   margin-left: 0.1rem;
   
    

    
  }
  .row .wlc-txt h1{
    font-size: medium;
    
  }

  
}